<!DOCTYPE html>

{% load bootstrap3 %}
<html>
    <head>
    <title>{% block page_title %}Welcome to Pystagram {% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script>{% block script_area %} {% endblock %} </script>
    </head>

    <body class="container">
    {% block content %} {% endblock %}
    </body>
</html>
