{% load bootstrap3 %}

<div class = "comments_box">
{% for comment in comments %}
<div class = "comment_container">
    <div class = "comment_content">{{comment.content }}</div>
    <p><span>Created At </span>{{comment.created_at}}</p>
</div>
{% empty %}
    <p>There is no comment</p>
{% endfor %}
<div class = "comment_create">
    <form method="POST" action="/posts/comment/create/" class="form-horizontal">
    {% csrf_token  %}
    <div class="form-group form-group-sm">
        <!--p>
            <label for="id_title">Title</label>
            <input type="text" name="title" id="id_title"/>
        </p-->
        <input type="hidden" name="post_pk" value="{{post.pk}}">
        <p>
            <textarea name="content"></textarea>
        </p>
        <p>
            {% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
        </p>
    </div>
</form>
   
</div>
</div>

