<!-- blog/templates/hello.html -->
{% extends 'blog_layout.html' %}
{% load bootstrap3 %}
<!DOCTYPE Html>
{% block page_title %} {% if post == None %}New Post 
    {% else %}Edit Post{{post.pk}} 
    {% endif %}
    {% endblock %}

{% block script_area %}
$(document).ready(function(){
    $('#category_select').val("{{post.category.pk}}");
    $('#id_title').val("{{post.title}}");
    $('#id_content').html("{{post.content}}");
});
{% endblock %}

{% block content %} 
<form method="POST" action="" class="form-horizontal">
    {% csrf_token  %}
    <div class="form-group form-group-sm">
        <p>
            <select name="category", id="category_select">
            {% for category in categories %}
                <option value="{{category.pk}}">{{category.name}}</option>
            {% endfor %}
            </select>
        </p>
        <p>
            <label for="id_title">Title</label>
            <input type="text" name="title" id="id_title" />
        </p>
        <p>
            <textarea name="content" id="id_content"></textarea>
        </p>
        <p>
            {% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
        </p>
    </div>
</form>

{% endblock %}

