<!-- blog/templates/list_view.html -->
{% extends 'blog_layout.html' %}
{% load bootstrap3 %}

{% block page_title %}Post List{% endblock %}

{% block content %}
    {% for post in posts %}
    <div class="post_container">
        <h3><a href="{% url 'view_post' pk=post.pk %}">{{ post.title }}</a> </h3>
        <div class="post_content">
            {{ post.content }}
        </div>

        <div>
            <p> category : {{post.category.name}} </p>
            <p> createdAt : {{post.created_at}} </p>
    </div>
    {% empty %}
        <p> There is no post </p>
    {% endfor %}
    
    {% bootstrap_pagination posts %}
{% endblock %}
