<!-- blog/templates/post_detail.html -->
<!DOCTYPE Html>
{% extends 'blog_layout.html' %}
{% load bootstrap3 %}

{% block page_title %}Post Number {{post.pk}} {% endblock %}

{% block content %} 
    <div class="post_container">
        <h3> {{post.title}} </h3>
        <div class="post_content">
            {{ post.content }}
        </div>

        <div>
            <p> category : {{post.category.name}} </p>

            <p> createdAt : {{post.created_at}} </p>
    </div>

    <div>
        <p><a href="{% url 'edit_post' post.pk %}">Edit</a></p>
        <p><a href="{% url 'delete_post' post.pk %}">Delete</a></p>
    </div>
    
    {% with comments=post.comment_set.all where='post' %}
        {% include 'comment_list.html' %}
    {% endwith %}
      
{% endblock %}
